<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequelize</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container p-3 mt-4">
        <h1 class="display-4">Sequelize Practice</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur praesentium recusandae quae sequi inventore. Incidunt, quae ut! Voluptatibus consequatur culpa numquam delectus, expedita quisquam accusamus, provident quibusdam voluptates eligendi esse!</p>
       
        <h1 class="display-6">Create new account</h1>
        <form action="/auth/register" method="POST">
            <input type="text" name="username" placeholder="Username" class="form-control">
            <input type="password" name="password" placeholder="Password" class="form-control mt-3">
            <button class="btn btn-success mt-3">Register</button>
            <a href="/auth/login">Already have an account ? sign in</a>

        </form>

    </div>
</body>
</html>